* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

#root {
  //background-color: rgb(24, 26, 27);
  //color: rgb(238, 238, 238);
  min-height: 100%;
}

h1 {
  font-size: 1.8rem;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  color: #114d4d;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
  margin-top: 2rem;
}

@media screen and (min-width: 900px) {
		.wrapper {
				max-width: 80vw;
				margin: auto;
				justify-content: center;

		}
}