.card {
  max-width: 92vw;
  max-height: 20vh;
  min-width: 92vw;
  min-height: 20vh;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
}

.card_top {
  border-radius: 20px 20px 0 0;
  position: relative;
  width: 100%;
  height: 55%;
}

.card_cover {
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.store {
  position: absolute;
  left: 0.6rem;
  bottom: 0.3rem;
  z-index: 4;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 0.5rem;
}

.store_name {
  color: white;
  font-weight: 900;
}

.store_logo {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: white 1px groove;
  object-fit: cover;
}

.items_number {
  position: absolute;
  color: #114d4d;
  font-weight: 600;
  font-size: 0.8rem;
  left: 0.6rem;
  top: 0.6rem;
  background: #fffcc2;
  padding: 0.1rem 0.5rem;
  border-radius: 25px;
}

.card_bottom {
  height: 45%;
  display: flex;
  padding: 0.5rem 0.8rem;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item_name {
  font-size: 0.8rem;
  font-weight: 600;
}

.pickup {
  font-size: 0.8rem;
  flex-grow: 1;
}

.price {
  align-self: flex-end;
  font-weight: 900;
  color: #016363;
}

.empty .items_number {
  background: #f6f4f5;
  color: #5d6965;
}

.empty .card_cover {
  opacity: 50%;
  filter: contrast(50%);
}

.empty .price {
  opacity: 60%;
}

@media screen and (min-width: 900px) {
  .card {
    max-width: 20vw;
    min-width: 20vw;
  }
}
